.contFormCab {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
}

.contForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--verde);
  padding-top: 20px;
}

.label-input {
  font-size: 20px;
}

.input-txt {
  font-size: 20px;
  border: 3px solid var(--verde);
  border-radius: 15px;
  color: var(--verde);
}

.contInput {
  margin: 12px;
  display: flex;
  flex-direction: column;
}

#calendario {
  width: 300px;
}

input[type="date"] {
  width: 300px;
  height: 40px;
  border: 3px solid var(--verde);
}

.selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  justify-content: space-between;
  margin: 12px;
}

.selector div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 4px solid var(--verde);
  width: 150px;
  padding: 10px;
  border-radius: 10px;
}
.masmenos {
  border: 3px solid var(--verde);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  margin: 0 7px;
}

button {
  background-color: var(--verde);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  padding: 12px;
  margin: 12px;
}

#radizq {
  margin-right: 16px;
}

input[type="radio"] {
  border: 4px solid var(--verde);
  width: 30px;
}

.contCabanias {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.cabania {
  width: 40%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.imgCabania {
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  overflow: hidden;
}

.infoCabania {
  border-radius: 0 0 15px 15px;
  border: 4px solid var(--verde);
  border-top: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.caracteristica {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 6px;
}

.icoCaracteristica {
  width: 30px;
  margin-right: 4px;
}

.descripcionCaracteristica {
  font-size: 18px;
  color: var(--verde);
}

.btnsMasCab {
  display: flex;
  width: 100%;
  justify-content: center;
}

.btn {
  border: 2px solid var(--verde);
  border-radius: 5px;
  font-size: 30px;
  padding: 5px;
  margin: 5px;
  color: var(--verde);
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnFl{
  color: white;
  background-color: var(--verde);
}

.btnSelec{
  border-width: 5px;
}