.fotos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
}

.fotos h2 {
  color: var(--verde);
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 80%;
  position: relative;
}

.imageContainer {
  width: 48%;
  height: 50%;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}
.imageContainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.imageContainer img:hover {
  filter: brightness(50%);
}



.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con 50% de opacidad */
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2em;
  text-align: center;
}

.imageContainer:hover .hover-text {
  display: block;
}

.btnsCarrusel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--verde);
  color: var(--color-fondo);
  border: none;
  font-weight: 900;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 50px;
  z-index: 2;
  cursor: pointer;
  
  transition: 0.3s;
}

.btnsCarrusel:hover {
  transform: scale(1.2);
  background-color: var(--verde);
  color: white;
}

#antBtn {
  position: absolute;
  left: 0;
  border: 5px solid var(--color-fondo);
}
#sigBtn {
  position: absolute;
  right: 0;
  border: 5px solid var(--color-fondo);
}
