* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

html {
  --color-fondo: #f7f3e7;
  --verde: #4d9142;
  --violeta: #754967;
  --header-h: 88.9px;
  background-color: var(--color-fondo);
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
  height: calc(100vh - var(--header-h));
  display: flex;
  justify-content: center;
  margin-top: var(--header-h);
  /* align-items: center; */
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.bgimg {
  position: absolute;
  background-image: url("../src/uvs.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* opacity: 80%; */
}

#campos-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10%;
  border-radius: 10%;
  padding: 1em 2em;
  background-color: #331f2ce7;
  flex-direction: column;
  color: var(--verde);
  font-weight: 600;
  font-size: 18px;
}

label {
  width: 100%;
  margin: 0.4em 0;
  text-align: start;
  padding-left: 0.5em;
}

input {
  border: 2px solid var(--verde);
  color: var(--violeta);
  font-size: 1em;
  border-radius: 0.5em;
  max-width: 300px;
  padding: 0.3em;
  margin: 0.4em;
  background-color: var(--color-fondo);
}



input[type="submit"] {
 
  margin-left: auto;
  margin-right: auto;
  border: none;
  font-size: 1em;

}

.cont-img {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: -1;
  left: auto;
  right: auto;
}

