:root {
  --violeta: #754967;
  --verde: #429142;
  --navbar-h: 80px;
  --color-fondo:#f7f3e7;
}

* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html {
  background-color: var(--color-fondo);
  scroll-behavior: smooth;
}

body{
  max-width: 100vw;
}

main {
  margin-top: var(--navbar-h);
}

#presentacion {
  height: calc(100vh - var(--navbar-h));
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../src/viñedo.webp");
  background-size: cover;
  padding-left: 10%;
  position: relative;
}

h1 {
  font-size: 60px;
  width: 50%;
  color: var(--violeta-claro);
}

.titulo-section{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin: .5em auto;
  text-align: center;
  color: var(--verde);
}

#presentacion .ubicacion{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: 50px;
}
#presentacion .ubicacion p{
  margin-top: 0;
}

.separador{
  height: 30px;
}

.sep-izq{
  transform: scaleX(-1);
  /* z-index: -1; */
}

.subtitulo-section{
  font-size: 30px;
  color: var(--verde);
  margin: .5em auto;
  text-align: center;
}

#presentacion p {
  font-size: 30px;
  width: 50%;
  color: var(--violeta-claro);
  margin-top: 0.7em;
}

#presentacion p,
h1 {
    color: white;
}

/* #natura-txt {
  color: var(--violeta);
}

#life-txt {
  color: var(--verde);
} */

#radizq{
  margin-right: 16px;
}



.opcSeleccionadaMenu{
border-bottom: 2px solid var(--violeta);
}